# Dependencies
node_modules/
**/node_modules/

# Production builds
dist/
**/dist/
.output/
.vercel/
.next/

# Local environment variables
.env
.env*.local
**/.env
**/.env*.local

# Cache and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.parcel-cache

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
